body {
  font-family: monospace;
  overflow-x: hidden;
  font-synthesis: 15px;
  background-color: #ee82ee;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  margin: auto;
  max-width: 90%;
  transition: transform 1s;
}

.checkoutLayout {
  width: 500px;
  margin-left: 350px;
}
.checkoutLayout .center {
  background-color: #721972;
  border-radius: 20px;
  padding: 40px;
  color: #fff;
}
.checkoutLayout .center .form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-bottom: 20px;
}
.checkoutLayout .form h1,
.checkoutLayout .form .group:nth-child(-n + 3) {
  grid-column-start: 1;
  grid-column-end: 3;
}
.checkoutLayout .form input,
.checkoutLayout .form select {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  background-color: #f0f0f0;
  color: #666;
  border: 2px solid #df4adf;
}
.checkoutLayout .center .return .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.checkoutLayout .right .return .row div:nth-child(2) {
  font-weight: bold;
  font-size: x-large;
}
.buttonCheckout {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #df4adf;
  margin-top: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
