@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@400;600&family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Lexend:wght@300&family=Pacifico&family=Righteous&display=swap");
.title {
  font-family: "Pacifico", cursive !important;
  text-align: center;
  background-color: transparent !important;
  text-transform: uppercase;
  background: #16a6fa;
  background: -webkit-repeating-radial-gradient(
    ellipse farthest-corner at bottom center,
    #11df67 0%,
    #ff08c1 89%
  );
  background: -moz-repeating-radial-gradient(
    ellipse farthest-corner at bottom center,
    #11df67 0%,
    #ff08c1 89%
  );
  background: repeating-radial-gradient(
    ellipse farthest-corner at bottom center,
    #11df67 0%,
    #ff08c1 89%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .navbar-nav .nav-link {
  color: black;
}

.navbar .navbar-nav .nav-link:hover {
  color: rgb(231, 27, 153);
  border-bottom: 1px solid rgb(121, 18, 86);
}
